<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Default Examples</title>
		<style>
			form {
				margin: 0;
			}
			textarea {
				display: block;
			}
		</style>
		<link rel="stylesheet" href="{{ static_url('kindeditor/4-1-10/themes/default/default.css') }}" />
		<script charset="utf-8" src="{{ static_url('kindeditor/4-1-10/kindeditor-min.js')}}"></script>
		<script charset="utf-8" src="{{ static_url('kindeditor/4-1-10/lang/zh_CN.js')}}"></script>
		<script>
			var editor;
			KindEditor.ready(function(K) {
				editor = K.create('textarea[name="content"]', {
                resizeType : 1,
                allowPreviewEmoticons : false,
                items : [
                   'undo','redo','|','formatblock','fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline','strikethrough','removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist','insertunorderedlist','insertorderedlist','insertunorderedlist', '|', 'emoticons', 'image', 'link','table','hr','preview'],
                });
            });

			function save(){
			    editor.sync();
			    html=document.getElementById('addeditor_id').value;
                $("#schtmlnr").val(html);
			}
		</script>
	</head>
	<body>
		<h3>默认模式</h3>
		<form method="post">
			<textarea id="content" name="content" style="width:800px;height:400px;visibility:hidden;">KindEditor</textarea>
			<textarea rows="" cols="" name="schtmlnr" id="schtmlnr" style="display:none;"></textarea>
			<input type="button"  value="提交" onclick="save()"/>
		</form>
	</body>
</html>
